<div class="movie-list-container"> 
  <h2>Movie List</h2>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <app-add-movie (movieAdded)="onMovieAdded()"></app-add-movie>

  <div *ngIf="movies.length > 0; else noMovies">
    <ul class="movie-list">
      <li *ngFor="let movie of movies" class="movie-item">
        <h3>{{ movie.movieName }}</h3>
        <p>Release Date: {{ movie.releaseDate }}</p>
      </li>
    </ul>

    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="pageNumber === 0">Back Page</button>
      <button (click)="nextPage()" [disabled]="pageNumber === totalPages - 1">Next Page</button>

      <div *ngIf="totalPages > 0" class="page-numbers">
        <button *ngFor="let i of [].constructor(totalPages); let pageIndex = index"
                (click)="goToPage(pageIndex)">
          {{ pageIndex + 1 }}
        </button>
      </div>
      
    </div>
  </div>

  <ng-template #noMovies>
    <p>No movies found.</p>
  </ng-template>
</div>
