<div class="movie-list-container"> 
  <h2>Movie List</h2>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <!-- <a href="app"></a> <app-add-movie (movieAdded)="onMovieAdded()"></app-add-movie>  -->
  <!-- <button (click)="navigateToAddMovie()" class="add-movie-btn">Add Movie</button> -->

  <div *ngIf="movies.length > 0; else noMovies">

    <table class="movie-list">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Release Date</th>
          <th>Reviews</th>
          <th>Add Review</th>
        </tr>
      </thead>
      <tbody *ngFor="let movie of movies" class="movie-item">
        <tr>
          <td><h3>{{ movie.movieName }}</h3></td>
          <td><p>{{ movie.releaseDate }}</p></td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="pageNumber === 0">Back Page</button>
      <button (click)="nextPage()" [disabled]="pageNumber >= totalPages - 1">Next Page</button>
    
      <div *ngIf="totalPages > 1" class="page-numbers">
        <button *ngFor="let i of [].constructor(totalPages); let pageIndex = index"
                (click)="goToPage(pageIndex)">
          {{ pageIndex + 1 }}
        </button>
      </div>
    </div>
       
  </div>

  <ng-template #noMovies>
    <p>No movies found.</p>
  </ng-template>
</div>
