<div class="container" style="max-width: 500px; margin-top: 50px;">
  <div class="card shadow-lg p-4">
    <h3 style="color: black;" class="text-center text-primary mb-4">Add Movie</h3>

    <form (ngSubmit)="addMovieDetails()">
      <div class="mb-3">
        <label for="movieName" class="form-label">Movie Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="movie.movieName"
          name="movieName"
          id="movieName"
          placeholder="Enter Movie Name"
          required
        />
      </div>

      <div class="mb-3">
        <label for="releaseDate" class="form-label">Release Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="movie.releaseDate"
          name="releaseDate"
          id="releaseDate"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary btn-block w-100">Add Movie</button>
    </form>
  </div>
</div>
