<div class="add-movie-container">
    <h2>Add New Movie</h2>
    <form (ngSubmit)="addMovie()" #movieForm="ngForm">
      <div class="form-group">
        <label for="movieName">Movie Name:</label>
        <input
          type="text"
          id="movieName"
          name="movieName"
          [(ngModel)]="movie.movieName"
          required
          placeholder="Enter movie name"
        />
      </div>
  
      <div class="form-group">
        <label for="releaseDate">Release Date:</label>
        <input
          type="date"
          id="releaseDate"
          name="releaseDate"
          [(ngModel)]="movie.releaseDate"
          required
        />
      </div>
  
      <button type="submit" [disabled]="!movieForm.form.valid">Add Movie</button>
    </form>
  </div>
  